<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Brreg</string>
    <key>CFBundleIdentifier</key>
    <string>com.bronnoysund.BrregWatch.watchkitapp</string>
    <key>CFBundleName</key>
    <string>BrregWatch</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Brreg bruker talegjenkjenning for å la deg slå opp selskaper ved å snakke.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Brreg trenger mikrofonen for å fange opp talesøk.</string>
    <key>WKApplication</key>
    <true/>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.bronnoysund.MauiMobile</string>
    <key>WKWatchOnly</key>
    <false/>
</dict>
</plist>
